footer.footer
    .footer__container
        .footer__logo
            img(src="images/logo.png")
        p.footer__text
            | Servicios Financieros  
            br
            |y administrativos ltd
