footer.footer
    .footer__container
        .footer__logo
<<<<<<< HEAD
            img(src="/images/logo.png")
=======
            img(src="images/logo.png")
>>>>>>> ec882ecd25b302386f7d25f35ad9cc021d940a5c
        p.footer__text
            | Servicios Financieros  
            br
            |y administrativos ltd
