extends _layouts/base

include ./_modules/contacto/contacto

block content
    main.home
        section.home__hero
            .home__image
                img(src="/images/hero.jpg")
            .home__content
                h1.home__title Servicios Financieros, Contables y Tributarios
                .home__button 
                    a(href="#") Conocenos
        section.home__interstitial
            .home__interstitial__container
                .home__interstitial__wrapper
                    p.home__interstitial__text Por nuestra parte como Sefinard, les ofrecemos a nuestros clientes, los servicios de expertos profesionales en las especialidades que necesitan, donde tenemos ventajas comparativas, mediante un alto compromiso y con el mejor nivel del staff que se requiera.
                .home__interstitial__images
                    .home__interstitial__image.home__interstitial__image--logo
                        img(src="/images/logo-big.png")
                    .home__interstitial__image.home__interstitial__image--girl
                        img(src="/images/girl.png")
        section.home__servicios#servicios
            h2.home__servicios__title Nuestros Servicios
            .home__servicios__wrapper
                .home__servicios__cell
                    .home__servicios__group
                        span.home__servicios__cell-number 01
                        h3.home__servicios__cell-title Servicios Contables y Tributarios
                        p.home__servicios__cell-text Nuestro objetivo es contar con información fidedigna y al día, para que el cliente tome buenas dicisiones.
                        a(href="/servicios-contables").home__servicios__cell-button Saber más
                .home__servicios__cell
                    .home__servicios__group
                        span.home__servicios__cell-number 02
                        h3.home__servicios__cell-title Servicios Tributarios
                        p.home__servicios__cell-text Debido a nuestra experiencia en diversas empresas, estamos preparados para prestar servicios tributarios de alto nivel...
                        a(href="/servicios-tributarios").home__servicios__cell-button Saber más
                .home__servicios__cell
                    .home__servicios__group
                        span.home__servicios__cell-number 04
                        h3.home__servicios__cell-title Representación fiscal solo para clientes en el exterior
                        p.home__servicios__cell-text Nuestros servicios es apoyarlo en comenzar con éxito los negocios de nuestros clientes en Chile, apoyandolos en los procesos necesarios.
                        a(href="/representacion-fiscal").home__servicios__cell-button Saber más
                .home__servicios__cell
                    .home__servicios__group
                        span.home__servicios__cell-number 03
                        h3.home__servicios__cell-title Servicios Payroll
                        p.home__servicios__cell-text La gestión de prrocesamiento de nóminas es una de las áreas más sensibles de una organización.
                        a(href="/servicios-payroll").home__servicios__cell-button Saber más
        +contacto
