extends ../_layouts/base

include ../_modules/contacto/contacto

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.nuestra-empresa
        section.servicios-payroll__hero
            .servicios-payroll__image
                img(src="/images/hero-nuestra-empresa.jpg")
            .servicios-payroll__content
                h1.servicios-payroll__title Nuestra Empresa
        section.servicios-payroll__service-description
            .container
                .row
                    .col-xs-24.col-sm-18.col-md-12.col-sm-offset-3.col-md-offset-6
                        .servicios-payroll__service-description__group
                            p.servicios-contables__service-description__text Los servicios de outsourcing de Contabilidad, Remuneraciones, Tributarios y otros, son la tendencia que se  está imponiendo en las empresas, lo que permite a los empresarios focalizarse en sus negocios obteniendo mayores eficiencia, y que respondan con una buena gestión a los cambios del mercado y su entorno.
                            p.servicios-contables__service-description__text Por nuestra parte como SERFINAD, les ofrecemos a nuestros clientes, los servicios de expertos profesionales en las especialidades que necesitan, donde tenemos ventajas comparativas, mediante un alto compromiso y con el mejor nivel del staff que se requiera. Como política interna por nuestra parte estamos en forma permanente en contacto con nuestros clientes para lograr la maximización del valor por los servicios externos que ofrecemos.
        +contacto
        
